{% extends "layout.html" %} {% block styles %}
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet" />

<link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet" />
<style>
	/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
	#map {
		height: 700px;
		width: 100%;
	}

	.map-header {
		color: white;
		font-family: "Bungee";
		text-align: center;
	}

	/* Optional: Makes the sample page fill the window. */
</style>
{% endblock %} {% block content %}
<html>

<head> </head>

<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="map-header">map</h1>
				<div id="map"></div>
			</div>
		</div>
	</div>
</body>

</html>

{% endblock %} {% block scripts %}
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-database.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-analytics.js"></script>

<script>
	// Your web app's Firebase configuration
	var firebaseConfig = {
		apiKey: "AIzaSyBCxeL0BVpRe6u5BuZxThcyoZaBiNZ8DB8",
		authDomain: "earthxhack2020.firebaseapp.com",
		databaseURL: "https://earthxhack2020.firebaseio.com",
		projectId: "earthxhack2020",
		storageBucket: "earthxhack2020.appspot.com",
		messagingSenderId: "121113223206",
		appId: "1:121113223206:web:0528e0b1b4fe72045a86e7",
		measurementId: "G-9QMYZLW2D3",
	};
	// Initialize Firebase
	firebase.initializeApp(firebaseConfig);
</script>
<script>
	database = firebase.database();
	var posts = database.ref("posts");
	posts.on("value", gotData, errData);
	var map;
	function initMap() {
		$.getJSON(
			"https://maps.googleapis.com/maps/api/geocode/json?address=" +
			"{{location}}" +
			"&key=AIzaSyBBIqRakO_8TI1b6w7AzquUOECTafYjy9s",
			function (data) {
				var str_loc = data["results"][0]["formatted_address"];
				console.log(str_loc)
				lat_lang_loc = data["results"][0]["geometry"]["location"];
				console.log(lat_lang_loc);
				var options = {
					zoom: 10,
					center: { lat: lat_lang_loc.lat, lng: lat_lang_loc.lng },
				};
				map = new google.maps.Map(document.getElementById("map"), options);
				//	addMarker(lat_lang_loc, "<h3>" + str_loc + "</h3>", "/static/plant_tiny.png")
			}
		);
	}

	function addMarker(coords, content, img) {
		var marker = new google.maps.Marker({
			position: coords,
			map: map,
			//icon:props.iconImage
		});

		// Check for customicon
		if (img) {
			// Set icon image
			marker.setIcon(img);
		}

		// Check content
		if (content) {
			var infoWindow = new google.maps.InfoWindow({
				content: content
			});

			marker.addListener('click', function () {
				infoWindow.open(map, marker);
			});
		}
	}

	function gotData(data) {
		var post_json = data.val();
		var keys = Object.keys(post_json);

		for (var i = 0; i < keys.length; i++) {
			var loc_standard = post_json[keys[i]]["location"];
			var loc = post_json[keys[i]]["location"].replace(" ", "+");
			$.getJSON(
				"https://maps.googleapis.com/maps/api/geocode/json?address=" +
				loc +
				"&key=AIzaSyBBIqRakO_8TI1b6w7AzquUOECTafYjy9s",
				function (data) {
					var str_loc = data["results"][0]["formatted_address"];
					console.log(str_loc)
					lat_lang_loc = data["results"][0]["geometry"]["location"];
					console.log(lat_lang_loc);
					addMarker(lat_lang_loc, "<h3>" + str_loc + "</h3>", "/static/plant_tiny.png")
				}
			);
		}
	}

	function errData(err) {
		console.log("Error!");
		console.log(err);
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBIqRakO_8TI1b6w7AzquUOECTafYjy9s&callback=initMap" async
	defer></script>

{% endblock %}