{% extends "layout.html" %}

{% block styles %}
<link
	href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
	rel="stylesheet"
/>

<link
	href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
	rel="stylesheet"
/>

<link rel="stylesheet" type="text/css" href="/static/css/tags.css" />
<style>

.title {
		color:white;
		text-shadow:1px solid black;
		font-family: "Bungee";
		-webkit-text-fill-color:white;
		padding:10px;
		margin-top: 5%;
	}
form{
	background-color:white;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.2);
	border-radius:5px;
	padding:10px;
}
.z-depth-5 {
	margin-top:10vh;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
	padding:5px;
	border-radius:5px;
	background-color:whitesmoke;
}

.btn-thing {
		background-color: #b7deb2;
	}
</style>
{% endblock %}



{% block content %}

<center><h1 class="title">EcoLink</h1></center>


			<form action="{{ url_for("actionRegister") }}" method="post">
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" name="email" class="form-control" placeholder="Enter email">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>

			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="input" name="password" class="form-control" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="exampleInputFirstName">First Name</label>
				<input type="input" name="firstName" class="form-control" placeholder="First Name">
			</div>
			<div class="form-group">
				<label for="exampleInputLastName">Last Name</label>
				<input type="input" name="lastName" class="form-control" placeholder="Last Name">
			</div>
			<div class="form-group">
				<label for="exampleInputBio">Bio</label>
				<input type="input" name="bio" class="form-control" placeholder="Tell us a bit about yourself!">
			</div>
			<div class="form-group">
				<label for="exampleInputLocation">Location</label>
				<input type="input" name="location" class="form-control" placeholder="Where are you located?">
			</div>
			<div class="form-group">
				<label for="exampleInputEducation">Education</label>
				<input type="input" name="education" class="form-control" placeholder="Tell us about your education.">
			</div>
			<div class="form-group">
				<label for="input">Tags to describe your profile</label>
				<input id="tag-gen" class="form-control" name="skills" placeholder="Tags to describe your profile (delimeted by space)"/>
				<div id="tags" class="row tags text-center" ></div>
			</div>
			
			<button type="submit" onclick="setVal(tags)" class="btn btn-thing">Submit</button>
			</form>

{% endblock %}

{% block scripts %} 
<script src="/static/js/tags.js"></script>
{% endblock%} 
